.header {
  height: 64px;
  display: flex;
  align-items: center;
  padding: 0 32px;
  background: #fff;
  border-bottom: 1px solid #ececec;
}

.logo {
  display: flex;
  align-items: center;
}

@media (max-width: 600px) {
  .header {
    padding: 0 20px;
  }
}
